p {
  margin: 10px;
}

#p1 {
  background-color: wheat;
  width: 50%;
  height: 50px;
}

#p2 {
  background-color: oliveDrab;
  width: 50px;
  height: 50px;
}

@media (min-width: 1200px) {
  #p1 {
    background-color: wheat;
    width: 80%;
    height: 150px;
  }

  #p2 {
    background-color: oliveDrab;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #p1 {
    background-color: wheat;
    width: 65%;
    height: 100px;
  }

  #p2 {
    background-color: oliveDrab;
    width: 100px;
    height: 100px;
  }
}
