* {
  box-sizing: content-box;
}

div {
  background-color: green;
  border: 20px solid black;
  padding: 15px;
  width: 100px;
}

div#first {
  margin-bottom: 20px;
}

div#second {
  margin-top: 50px;
}
